<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Log off</title>
	<link rel="stylesheet" href="/css/log_off.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
    <script src="/js/LogOff.js"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				
			</li>
			<li id="nav_bar_middle">
				<strong>Good bye</strong>
			</li>
			<li id="nav_bar_right">
			</li>
		</ul>
	</nav>
	<main>
		<p>
			You have successfully logged off.
		</p>
		<button id="back_button" class="click_button" onclick="backToIndex()">
			<strong>Log in</strong>
		</button>
	</main>
	</body>
</html>